DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=musicdb
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
MEDIA_ROOT=/home/riya42/musicdb/media
MEDIA_URL_PREFIX=/media
BACKEND_PUBLIC_URL=http://localhost:8000
